# <center>Project 4 -- MongoDB
<center> Jiaxing (Jack) Zhang & Dennis Silva Jr.

In [1]:
## import mongoDB and start client
import pymongo
from bson.objectid import ObjectId 
client = pymongo.MongoClient() # default port

In [2]:
## drop_database (remove everything to start fresh) for testing purposes
try:
    client.drop_database('proj4')
    print('Database (proj4) erased')
except:
    print('Database (proj4) is empty')

Database (proj4) erased

In [3]:
# create empty db called 'proj4'
db = client['proj4']

# create famous-people collection for part 1
collection1 = db['famous-people-prob1']

# create famous-people collection for part 2
collection2 = db['famous-people-prob2']

In [4]:
## ISODATE is a date datatype for Mongoshell (Java datatype), python doesnt 
# recognize this date type, so make function that converts to python datetime object
import dateutil
def ISODate(date_string):
    """
    Convert the date string originally 
    input through ISODate to Python date
    """
    return dateutil.parser.parse(date_string)

In [5]:
# 10 famous people copied from: https://docs.mongodb.com/manual/reference/bios-example-collection/
famous_people = [{
    "_id" : 1,
    "name" : {
        "first" : "John",
        "last" : "Backus"
    },
    "birth" : ISODate("1924-12-03T05:00:00Z"),
    "death" : ISODate("2007-03-17T04:00:00Z"),
    "contribs" : [
        "Fortran",
        "ALGOL",
        "Backus-Naur Form",
        "FP"
    ],
    "awards" : [
        {
            "award" : "W.W. McDowell Award",
            "year" : 1967,
            "by" : "IEEE Computer Society"
        },
        {
            "award" : "National Medal of Science",
            "year" : 1975,
            "by" : "National Science Foundation"
        },
        {
            "award" : "Turing Award",
            "year" : 1977,
            "by" : "ACM"
        },
        {
            "award" : "Draper Prize",
            "year" : 1993,
            "by" : "National Academy of Engineering"
        }
    ]
},

{
    "_id" : ObjectId("51df07b094c6acd67e492f41"),
    "name" : {
        "first" : "John",
        "last" : "McCarthy"
    },
    "birth" : ISODate("1927-09-04T04:00:00Z"),
    "death" : ISODate("2011-12-24T05:00:00Z"),
    "contribs" : [
        "Lisp",
        "Artificial Intelligence",
        "ALGOL"
    ],
    "awards" : [
        {
            "award" : "Turing Award",
            "year" : 1971,
            "by" : "ACM"
        },
        {
            "award" : "Kyoto Prize",
            "year" : 1988,
            "by" : "Inamori Foundation"
        },
        {
            "award" : "National Medal of Science",
            "year" : 1990,
            "by" : "National Science Foundation"
        }
    ]
},

{
    "_id" : 3,
    "name" : {
        "first" : "Grace",
        "last" : "Hopper"
    },
    "title" : "Rear Admiral",
    "birth" : ISODate("1906-12-09T05:00:00Z"),
    "death" : ISODate("1992-01-01T05:00:00Z"),
    "contribs" : [
        "UNIVAC",
        "compiler",
        "FLOW-MATIC",
        "COBOL"
    ],
    "awards" : [
        {
            "award" : "Computer Sciences Man of the Year",
            "year" : 1969,
            "by" : "Data Processing Management Association"
        },
        {
            "award" : "Distinguished Fellow",
            "year" : 1973,
            "by" : " British Computer Society"
        },
        {
            "award" : "W. W. McDowell Award",
            "year" : 1976,
            "by" : "IEEE Computer Society"
        },
        {
            "award" : "National Medal of Technology",
            "year" : 1991,
            "by" : "United States"
        }
    ]
},

{
    "_id" : 4,
    "name" : {
        "first" : "Kristen",
        "last" : "Nygaard"
    },
    "birth" : ISODate("1926-08-27T04:00:00Z"),
    "death" : ISODate("2002-08-10T04:00:00Z"),
    "contribs" : [
        "OOP",
        "Simula"
    ],
    "awards" : [
        {
            "award" : "Rosing Prize",
            "year" : 1999,
            "by" : "Norwegian Data Association"
        },
        {
            "award" : "Turing Award",
            "year" : 2001,
            "by" : "ACM"
        },
        {
            "award" : "IEEE John von Neumann Medal",
            "year" : 2001,
            "by" : "IEEE"
        }
    ]
},

{
    "_id" : 5,
    "name" : {
        "first" : "Ole-Johan",
        "last" : "Dahl"
    },
    "birth" : ISODate("1931-10-12T04:00:00Z"),
    "death" : ISODate("2002-06-29T04:00:00Z"),
    "contribs" : [
        "OOP",
        "Simula"
    ],
    "awards" : [
        {
            "award" : "Rosing Prize",
            "year" : 1999,
            "by" : "Norwegian Data Association"
        },
        {
            "award" : "Turing Award",
            "year" : 2001,
            "by" : "ACM"
        },
        {
            "award" : "IEEE John von Neumann Medal",
            "year" : 2001,
            "by" : "IEEE"
        }
    ]
},

{
    "_id" : 6,
    "name" : {
        "first" : "Guido",
        "last" : "van Rossum"
    },
    "birth" : ISODate("1956-01-31T05:00:00Z"),
    "contribs" : [
        "Python"
    ],
    "awards" : [
        {
            "award" : "Award for the Advancement of Free Software",
            "year" : 2001,
            "by" : "Free Software Foundation"
        },
        {
            "award" : "NLUUG Award",
            "year" : 2003,
            "by" : "NLUUG"
        }
    ]
},

{
    "_id" : ObjectId("51e062189c6ae665454e301d"),
    "name" : {
        "first" : "Dennis",
        "last" : "Ritchie"
    },
    "birth" : ISODate("1941-09-09T04:00:00Z"),
    "death" : ISODate("2011-10-12T04:00:00Z"),
    "contribs" : [
        "UNIX",
        "C"
    ],
    "awards" : [
        {
            "award" : "Turing Award",
            "year" : 1983,
            "by" : "ACM"
        },
        {
            "award" : "National Medal of Technology",
            "year" : 1998,
            "by" : "United States"
        },
        {
            "award" : "Japan Prize",
            "year" : 2011,
            "by" : "The Japan Prize Foundation"
        }
    ]
},

{
    "_id" : 8,
    "name" : {
        "first" : "Yukihiro",
        "aka" : "Matz",
        "last" : "Matsumoto"
    },
    "birth" : ISODate("1965-04-14T04:00:00Z"),
    "contribs" : [
        "Ruby"
    ],
    "awards" : [
        {
            "award" : "Award for the Advancement of Free Software",
            "year" : "2011",
            "by" : "Free Software Foundation"
        }
    ]
},

{
    "_id" : 9,
    "name" : {
        "first" : "James",
        "last" : "Gosling"
    },
    "birth" : ISODate("1955-05-19T04:00:00Z"),
    "contribs" : [
        "Java"
    ],
    "awards" : [
        {
            "award" : "The Economist Innovation Award",
            "year" : 2002,
            "by" : "The Economist"
        },
        {
            "award" : "Officer of the Order of Canada",
            "year" : 2007,
            "by" : "Canada"
        }
    ]
},

{
    "_id" : 10,
    "name" : {
        "first" : "Martin",
        "last" : "Odersky"
    },
    "contribs" : [
        "Scala"
    ]
}]

In [6]:
# bulk-insert famous people into collections 1 and 2
collection1.insert_many(famous_people)
collection2.insert_many(famous_people)

In [7]:
# check db if everything added correctly
print("Databases:")
print(client.database_names())

print("Collections in proj4:")
print(db.collection_names())

print("Number of Docs:")
print("collection1 ({}), collection2 ({})".format(collection1.count(), collection2.count()))

Databases:
['admin', 'local', 'proj4', 'test']
Collections in proj4:
['famous-people-prob1', 'famous-people-prob2']
Number of Docs:
collection1 (10), collection2 (10)

# <Center>Problem 1
<Center>Database Modeling, Loading, & Modification

In [8]:
"""
1) Write an operation(s) that changes the _id of 
“John McCarthy” to value 100.

Note: MongoDB does not allow to change _id of an already inserted document, 
thus must make new document find document we want
"""

doc = collection1.find_one({"name":{"first":"John","last":"McCarthy"}})

# edit _id of saved doc object
doc['_id'] = 100

# insert updated document
collection1.insert_one(doc)

# remove doc from collection with old id
collection1.delete_one({"name":{"first":"John","last":"McCarthy"}})

# check if CRUD operations worked
doc = collection1.find_one({"name":{"first":"John","last":"McCarthy"}})
print("_id of John McCarthy should be 100: \n")
print(doc)
print()

_id of John McCarthy should be 100:

{'_id': 100, 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}

In [9]:
"""
2.) Write an operation(s) that inserts the 
following new records into the collection:
"""
# copy new records
new_records = [{
 "_id" : 20,
 "name" : {
 "first" : "Mary",
 "last" : "Sally"
 },
 "birth" : ISODate("1933-08-27T04:00:00Z"),
 "death" : ISODate("1984-11-07T04:00:00Z"),
 "contribs" : [
 "C++",
 "Simula"
 ],
 "awards" : [
 {
 "award" : "WPI Award",
 "year" : 1999,
 "by" : "WPI"
 }
 ]
 },
 {
 "_id" : 30,
 "name" : {
 "first" : "Ming",
 "last" : "Zhang"
 },
 "birth" : ISODate("1911-04-12T04:00:00Z"),
 "death" : ISODate("2000-11-07T04:00:00Z"),
 "contribs" : [
 "C++",
 "FP",
 "Python",
 ],
 "awards" : [
 {
 "award" : "WPI Award",
 "year" : 1960,
 "by" : "WPI"
 },
 {
 "award" : "Turing Award",
 "year" : 1960,
 "by" : "ACM"
 }
 ]
}]

# insert the new records
collection1.insert_many(new_records)

# check if CRUD operations work
print("Check if _id 20 and 30 are in collections: \n")
docs = collection1.find( {"_id": {"$in": [20, 30]} } )
for doc in docs:
    print(doc)
    print()

Check if _id 20 and 30 are in collections:

{'_id': 20, 'name': {'first': 'Mary', 'last': 'Sally'}, 'birth': datetime.datetime(1933, 8, 27, 4, 0), 'death': datetime.datetime(1984, 11, 7, 4, 0), 'contribs': ['C++', 'Simula'], 'awards': [{'award': 'WPI Award', 'year': 1999, 'by': 'WPI'}]}

{'_id': 30, 'name': {'first': 'Ming', 'last': 'Zhang'}, 'birth': datetime.datetime(1911, 4, 12, 4, 0), 'death': datetime.datetime(2000, 11, 7, 4, 0), 'contribs': ['C++', 'FP', 'Python'], 'awards': [{'award': 'WPI Award', 'year': 1960, 'by': 'WPI'}, {'award': 'Turing Award', 'year': 1960, 'by': 'ACM'}]}

In [10]:
"""
3) Report all documents of people who got 
a “Turing Award” after 1960.
"""
# query all documents
docs = collection1.find( {"awards": {"$elemMatch": {"award": "Turing Award", "year": {"$gt": 1960}} }} )

# print the results
print("All people who got a Turing Award after 1960: \n")
for doc in docs:
    print(doc)
    print()

All people who got a Turing Award after 1960:

{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}]}

{'_id': 4, 'name': {'first': 'Kristen', 'last': 'Nygaard'}, 'birth': datetime.datetime(1926, 8, 27, 4, 0), 'death': datetime.datetime(2002, 8, 10, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': datetime.datetime(1931, 10, 12, 4, 0), 'death': datetime.datetime(2002, 6, 29, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': ObjectId('51e062189c6ae665454e301d'), 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': datetime.datetime(1941, 9, 9, 4, 0), 'death': datetime.datetime(2011, 10, 12, 4, 0), 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}]}

{'_id': 100, 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}

In [11]:
"""
4) Report all people who got more than 2 awards

Note: $size is the first CRUD operation to come to mind, 
but can only take a number, need to use a combination
of $exist to see if the awards array exists and then $where 
on array length to see if >2  instead
"""
# $size can only take number, so need
docs = collection1.find( {"awards": {"$exists": True}, "$where": "this.awards.length > 2"} )
print("All people who got more than 2 awards: \n")
for doc in docs:
    print(doc)
    print()

All people who got more than 2 awards:

{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}]}

{'_id': 3, 'name': {'first': 'Grace', 'last': 'Hopper'}, 'title': 'Rear Admiral', 'birth': datetime.datetime(1906, 12, 9, 5, 0), 'death': datetime.datetime(1992, 1, 1, 5, 0), 'contribs': ['UNIVAC', 'compiler', 'FLOW-MATIC', 'COBOL'], 'awards': [{'award': 'Computer Sciences Man of the Year', 'year': 1969, 'by': 'Data Processing Management Association'}, {'award': 'Distinguished Fellow', 'year': 1973, 'by': ' British Computer Society'}, {'award': 'W. W. McDowell Award', 'year': 1976, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Technology', 'year': 1991, 'by': 'United States'}]}

{'_id': 4, 'name': {'first': 'Kristen', 'last': 'Nygaard'}, 'birth': datetime.datetime(1926, 8, 27, 4, 0), 'death': datetime.datetime(2002, 8, 10, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': datetime.datetime(1931, 10, 12, 4, 0), 'death': datetime.datetime(2002, 6, 29, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': ObjectId('51e062189c6ae665454e301d'), 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': datetime.datetime(1941, 9, 9, 4, 0), 'death': datetime.datetime(2011, 10, 12, 4, 0), 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}]}

{'_id': 100, 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}

In [12]:
"""
5) Update the document of “Guido van Rossum” to add
“Python” to the contribution list.

Note: Guido van Rossum already has Python as a contribution as
a defult value, thus we decided the operation will add another occurence.
"""
collection1.update_one({"name":{"first":"Guido","last":"van Rossum"}},
                         {"$push": {"contribs":"Python"}})

doc = collection1.find_one({"name":{"first":"Guido","last":"van Rossum"}})
print("Updated Guido van Rossum with Python contrib: \n")
print(doc)

Updated Guido van Rossum with Python contrib:

{'_id': 6, 'name': {'first': 'Guido', 'last': 'van Rossum'}, 'birth': datetime.datetime(1956, 1, 31, 5, 0), 'contribs': ['Python', 'Python'], 'awards': [{'award': 'Award for the Advancement of Free Software', 'year': 2001, 'by': 'Free Software Foundation'}, {'award': 'NLUUG Award', 'year': 2003, 'by': 'NLUUG'}]}

In [13]:
"""
6) Insert a new field called “comments” of type array 
into document of “Mary Sally” storing the comments: 
“taught in 3 universities”, “was an amazing pioneer”, 
“lived in Worcester.”
"""
# make comments array
comments = ["taught in 3 universities",
            "was an amazing pioneer",
            "lived in Worcester"]

# add and update Mary Sally's comments
collection1.update_one({"name":{"first":"Mary","last":"Sally"}},
                         { "$set": {"comments": comments} })

# check if update worked
doc = collection1.find_one({"name":{"first":"Mary","last":"Sally"}})

print("Mary Sally and her comments: \n")
print(doc)

Mary Sally and her comments:

{'_id': 20, 'name': {'first': 'Mary', 'last': 'Sally'}, 'birth': datetime.datetime(1933, 8, 27, 4, 0), 'death': datetime.datetime(1984, 11, 7, 4, 0), 'contribs': ['C++', 'Simula'], 'awards': [{'award': 'WPI Award', 'year': 1999, 'by': 'WPI'}], 'comments': ['taught in 3 universities', 'was an amazing pioneer', 'lived in Worcester']}

In [14]:
"""
7) For each contribution by “Mary Sally”, say 
contribution “C”, list the people’s first and 
last names who have the same contribution “C”. 
For example, since “Mary Sally” has two contributions 
in “C++” and “Simula”, the output for her should 
be similar to: {Contribution: “C++”, People: 
[{first: “Mary”, last: “Sally”}, {first: “Ming”, 
last: “Zhang”}]},{ Contribution: “Simula”,
 … .}
"""
# get Mary Sally's information
doc = collection1.find_one({"name":{"first":"Mary","last":"Sally"}})

# get Mary Sally's contribution list
contribs = doc['contribs']
print("Mary Sally's Contributions: {} \n".format(contribs))

# identify people
for contrib in contribs:
    print("Contribution: {}".format(contrib))
    # gather all people with same contribution
    docs = collection1.find({"contribs": contrib})
    print("People: ")
    for doc in docs:
        # print out each persons name
        print(doc['name'])
    print()

Mary Sally's Contributions: ['C++', 'Simula']

Contribution: C++
People:
{'first': 'Mary', 'last': 'Sally'}
{'first': 'Ming', 'last': 'Zhang'}

Contribution: Simula
People:
{'first': 'Kristen', 'last': 'Nygaard'}
{'first': 'Ole-Johan', 'last': 'Dahl'}
{'first': 'Mary', 'last': 'Sally'}

In [15]:
"""
8) Report all documents where the first name matches the regular expression “Jo*”, where “*” means any number of characters. 
Report the documents sorted by the last name.
"""
docs = collection1.find(
    {
        "name.first": { "$regex": "Jo*" }
    }
).sort([("name.last",pymongo.ASCENDING)])

# check if docs match the regex
print("Docs with first name that matches regex 'Jo':")
for doc in docs:
    print(doc)
    print()

Docs with first name that matches regex 'Jo':
{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}]}

{'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': datetime.datetime(1931, 10, 12, 4, 0), 'death': datetime.datetime(2002, 6, 29, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': 9, 'name': {'first': 'James', 'last': 'Gosling'}, 'birth': datetime.datetime(1955, 5, 19, 4, 0), 'contribs': ['Java'], 'awards': [{'award': 'The Economist Innovation Award', 'year': 2002, 'by': 'The Economist'}, {'award': 'Officer of the Order of Canada', 'year': 2007, 'by': 'Canada'}]}

{'_id': 100, 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}

In [16]:
"""
9) Update the award of document_id = 30, which is given by WPI, and set the year to 1965
"""
collection1.update_one({"_id": 30, "awards.by": "WPI"}, {"$set": {"awards.$.year": 1965}})

doc = collection1.find_one({"_id":30})

print("After updating above criteria:")
print()
print(doc)

After updating above criteria:

{'_id': 30, 'name': {'first': 'Ming', 'last': 'Zhang'}, 'birth': datetime.datetime(1911, 4, 12, 4, 0), 'death': datetime.datetime(2000, 11, 7, 4, 0), 'contribs': ['C++', 'FP', 'Python'], 'awards': [{'award': 'WPI Award', 'year': 1965, 'by': 'WPI'}, {'award': 'Turing Award', 'year': 1960, 'by': 'ACM'}]}

In [17]:
"""
10) Add(copy) all the contribution of doucment_id = 3 to that of document_id = 30
"""
contributions = collection1.find_one({"_id":3})['contribs']
for n in contributions:
    collection1.update_one({"_id": 30}, {"$push": {"contribs": n}})
    
print("After updating above criteria:")
print()
print(collection1.find_one({"_id": 30}))

After updating above criteria:

{'_id': 30, 'name': {'first': 'Ming', 'last': 'Zhang'}, 'birth': datetime.datetime(1911, 4, 12, 4, 0), 'death': datetime.datetime(2000, 11, 7, 4, 0), 'contribs': ['C++', 'FP', 'Python', 'UNIVAC', 'compiler', 'FLOW-MATIC', 'COBOL'], 'awards': [{'award': 'WPI Award', 'year': 1965, 'by': 'WPI'}, {'award': 'Turing Award', 'year': 1960, 'by': 'ACM'}]}

# <Center> Problem 2: 
<Center> Advanced Query Specfication in MongoDB

In [18]:
"""
Show that the collection we are working with is the default collection of famous people
"""
docs = collection2.find()

print("Default famous people: \n")

for doc in docs:
    print(doc)
    print()

Default famous people:

{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}]}

{'_id': ObjectId('51df07b094c6acd67e492f41'), 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}]}

{'_id': 3, 'name': {'first': 'Grace', 'last': 'Hopper'}, 'title': 'Rear Admiral', 'birth': datetime.datetime(1906, 12, 9, 5, 0), 'death': datetime.datetime(1992, 1, 1, 5, 0), 'contribs': ['UNIVAC', 'compiler', 'FLOW-MATIC', 'COBOL'], 'awards': [{'award': 'Computer Sciences Man of the Year', 'year': 1969, 'by': 'Data Processing Management Association'}, {'award': 'Distinguished Fellow', 'year': 1973, 'by': ' British Computer Society'}, {'award': 'W. W. McDowell Award', 'year': 1976, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Technology', 'year': 1991, 'by': 'United States'}]}

{'_id': 4, 'name': {'first': 'Kristen', 'last': 'Nygaard'}, 'birth': datetime.datetime(1926, 8, 27, 4, 0), 'death': datetime.datetime(2002, 8, 10, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': datetime.datetime(1931, 10, 12, 4, 0), 'death': datetime.datetime(2002, 6, 29, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}]}

{'_id': 6, 'name': {'first': 'Guido', 'last': 'van Rossum'}, 'birth': datetime.datetime(1956, 1, 31, 5, 0), 'contribs': ['Python'], 'awards': [{'award': 'Award for the Advancement of Free Software', 'year': 2001, 'by': 'Free Software Foundation'}, {'award': 'NLUUG Award', 'year': 2003, 'by': 'NLUUG'}]}

{'_id': ObjectId('51e062189c6ae665454e301d'), 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': datetime.datetime(1941, 9, 9, 4, 0), 'death': datetime.datetime(2011, 10, 12, 4, 0), 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}]}

{'_id': 8, 'name': {'first': 'Yukihiro', 'aka': 'Matz', 'last': 'Matsumoto'}, 'birth': datetime.datetime(1965, 4, 14, 4, 0), 'contribs': ['Ruby'], 'awards': [{'award': 'Award for the Advancement of Free Software', 'year': '2011', 'by': 'Free Software Foundation'}]}

{'_id': 9, 'name': {'first': 'James', 'last': 'Gosling'}, 'birth': datetime.datetime(1955, 5, 19, 4, 0), 'contribs': ['Java'], 'awards': [{'award': 'The Economist Innovation Award', 'year': 2002, 'by': 'The Economist'}, {'award': 'Officer of the Order of Canada', 'year': 2007, 'by': 'Canada'}]}

{'_id': 10, 'name': {'first': 'Martin', 'last': 'Odersky'}, 'contribs': ['Scala']}

In [19]:
"""
1) Write an aggregation query that groups by the award name, i.e., the “award” field inside the “awards” array, and foreach award
reports an array of the years for when this award has been given
"""
docs = collection2.aggregate([
    {'$unwind': "$awards"},

    {'$group': {
         '_id': "$awards.award",
         'years':{'$push': {
             'year':"$awards.year"
         }},
    }}
])
print("Grouped awards with array of years given:")
for doc in docs:
    print()
    print(doc)

Grouped awards with array of years given:

{'_id': 'Officer of the Order of Canada', 'years': [{'year': 2007}]}

{'_id': 'The Economist Innovation Award', 'years': [{'year': 2002}]}

{'_id': 'Japan Prize', 'years': [{'year': 2011}]}

{'_id': 'Award for the Advancement of Free Software', 'years': [{'year': 2001}, {'year': '2011'}]}

{'_id': 'IEEE John von Neumann Medal', 'years': [{'year': 2001}, {'year': 2001}]}

{'_id': 'Rosing Prize', 'years': [{'year': 1999}, {'year': 1999}]}

{'_id': 'National Medal of Technology', 'years': [{'year': 1991}, {'year': 1998}]}

{'_id': 'Computer Sciences Man of the Year', 'years': [{'year': 1969}]}

{'_id': 'W. W. McDowell Award', 'years': [{'year': 1976}]}

{'_id': 'Distinguished Fellow', 'years': [{'year': 1973}]}

{'_id': 'Kyoto Prize', 'years': [{'year': 1988}]}

{'_id': 'Draper Prize', 'years': [{'year': 1993}]}

{'_id': 'National Medal of Science', 'years': [{'year': 1975}, {'year': 1990}]}

{'_id': 'NLUUG Award', 'years': [{'year': 2003}]}

{'_id': 'Turing Award', 'years': [{'year': 1977}, {'year': 1971}, {'year': 2001}, {'year': 2001}, {'year': 1983}]}

{'_id': 'W.W. McDowell Award', 'years': [{'year': 1967}]}

In [20]:
"""
2) Write an aggregation query that groups by the birth year, i.e., 
the year within the “birth” field, and then report the count
for each birth year

Note: We ran into a well known error in MongoDB on Windows, 
that it does not support dates before 1970. Below is the official form:

https://jira.mongodb.org/browse/SERVER-12816

In turn, the easiest way was to convert birth date (as a datetime 
object) to just an integer reflecting the year.
"""

# iterate through each doc in collection
for doc in collection2.find():
    #print(doc)
    try: # grab date object, extract birth year, and update
        _id = doc['_id']
        birth_year = doc['birth'].year
        
        collection2.update_one({"_id": _id}, 
                               {"$push": {"birth_year": birth_year}})
    except: # doesnt have a birth field
        pass


## older aggregation that failed
# docs = collection2.aggregate([{
#     '$group': {
#         '_id': { '$year': "$birth" },
#         'count':{'$sum':1}
#     }
# }])
# for doc in docs:
#     print(doc)
    

# conduct aggregation query
docs = collection2.aggregate([{
    '$group': {
        '_id': { '$sum': "$birth_year" },
        'count':{'$sum':1}
    }
}])

print("Aggregation by birth year: \n")
for doc in docs:
    print(doc)

Aggregation by birth year:

{'_id': 0, 'count': 1}
{'_id': 1955, 'count': 1}
{'_id': 1965, 'count': 1}
{'_id': 1941, 'count': 1}
{'_id': 1956, 'count': 1}
{'_id': 1931, 'count': 1}
{'_id': 1926, 'count': 1}
{'_id': 1924, 'count': 1}
{'_id': 1906, 'count': 1}
{'_id': 1927, 'count': 1}

In [21]:
"""
3) Report the document with the smallest and largest _ids.

Note: This question is a bit ambigous. For one, ids here are either 
an integer or an object id. Comparing integers to object ids is not
straight forward. We therefore let the default sorting method 
(pymongo.ASCENDING) to do the comparison for us (it seems it sorts by
integer id and then by the string of the object ids).
"""
# grab all ids and sort them
docs = collection2.find().sort([("_id",pymongo.ASCENDING)])


print("Docs with smallest and largest _ids: \n")
print(docs[0]) # first
print()
print(docs[docs.count() - 1]) #last

Docs with smallest and largest _ids:

{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}], 'birth_year': [1924]}

{'_id': ObjectId('51e062189c6ae665454e301d'), 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': datetime.datetime(1941, 9, 9, 4, 0), 'death': datetime.datetime(2011, 10, 12, 4, 0), 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}], 'birth_year': [1941]}

In [22]:
"""
4) Search for and report all documents containing either “Turing” 
or “National Medal” as text substring. (Hint:  Use $text operator 
to represent the string search).
"""
# drop indexes for testing purposes
collection2.drop_indexes()

# create index on award text
collection2.create_index(
    [
        ('awards.award','text')
    ])

# double check index was correct
# collection2.index_information()

# search over text index for key phrases
docs = collection2.find({'$text':
                         {'$search':"/National Medal|Turing/"}})
# check documents were correct
print("Documents with either 'National Medial' or 'Turing': \n")
for doc in docs:
    print(doc)
    print()

Documents with either 'National Medial' or 'Turing':

{'_id': 4, 'name': {'first': 'Kristen', 'last': 'Nygaard'}, 'birth': datetime.datetime(1926, 8, 27, 4, 0), 'death': datetime.datetime(2002, 8, 10, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}], 'birth_year': [1926]}

{'_id': 5, 'name': {'first': 'Ole-Johan', 'last': 'Dahl'}, 'birth': datetime.datetime(1931, 10, 12, 4, 0), 'death': datetime.datetime(2002, 6, 29, 4, 0), 'contribs': ['OOP', 'Simula'], 'awards': [{'award': 'Rosing Prize', 'year': 1999, 'by': 'Norwegian Data Association'}, {'award': 'Turing Award', 'year': 2001, 'by': 'ACM'}, {'award': 'IEEE John von Neumann Medal', 'year': 2001, 'by': 'IEEE'}], 'birth_year': [1931]}

{'_id': 1, 'name': {'first': 'John', 'last': 'Backus'}, 'birth': datetime.datetime(1924, 12, 3, 5, 0), 'death': datetime.datetime(2007, 3, 17, 4, 0), 'contribs': ['Fortran', 'ALGOL', 'Backus-Naur Form', 'FP'], 'awards': [{'award': 'W.W. McDowell Award', 'year': 1967, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Science', 'year': 1975, 'by': 'National Science Foundation'}, {'award': 'Turing Award', 'year': 1977, 'by': 'ACM'}, {'award': 'Draper Prize', 'year': 1993, 'by': 'National Academy of Engineering'}], 'birth_year': [1924]}

{'_id': ObjectId('51df07b094c6acd67e492f41'), 'name': {'first': 'John', 'last': 'McCarthy'}, 'birth': datetime.datetime(1927, 9, 4, 4, 0), 'death': datetime.datetime(2011, 12, 24, 5, 0), 'contribs': ['Lisp', 'Artificial Intelligence', 'ALGOL'], 'awards': [{'award': 'Turing Award', 'year': 1971, 'by': 'ACM'}, {'award': 'Kyoto Prize', 'year': 1988, 'by': 'Inamori Foundation'}, {'award': 'National Medal of Science', 'year': 1990, 'by': 'National Science Foundation'}], 'birth_year': [1927]}

{'_id': 3, 'name': {'first': 'Grace', 'last': 'Hopper'}, 'title': 'Rear Admiral', 'birth': datetime.datetime(1906, 12, 9, 5, 0), 'death': datetime.datetime(1992, 1, 1, 5, 0), 'contribs': ['UNIVAC', 'compiler', 'FLOW-MATIC', 'COBOL'], 'awards': [{'award': 'Computer Sciences Man of the Year', 'year': 1969, 'by': 'Data Processing Management Association'}, {'award': 'Distinguished Fellow', 'year': 1973, 'by': ' British Computer Society'}, {'award': 'W. W. McDowell Award', 'year': 1976, 'by': 'IEEE Computer Society'}, {'award': 'National Medal of Technology', 'year': 1991, 'by': 'United States'}], 'birth_year': [1906]}

{'_id': ObjectId('51e062189c6ae665454e301d'), 'name': {'first': 'Dennis', 'last': 'Ritchie'}, 'birth': datetime.datetime(1941, 9, 9, 4, 0), 'death': datetime.datetime(2011, 10, 12, 4, 0), 'contribs': ['UNIX', 'C'], 'awards': [{'award': 'Turing Award', 'year': 1983, 'by': 'ACM'}, {'award': 'National Medal of Technology', 'year': 1998, 'by': 'United States'}, {'award': 'Japan Prize', 'year': 2011, 'by': 'The Japan Prize Foundation'}], 'birth_year': [1941]}

# <center>Problem 3
<center> Parent-Child Relationships & Referencing

In [23]:
# drop tree collections for testing purposes if already created
db.drop_collection('Tree1')
db.drop_collection('Tree2')

{'code': 26,
 'codeName': 'NamespaceNotFound',
 'errmsg': 'ns not found',
 'ok': 0.0}

## Partent - Referencing Model

In [24]:
"""
Create relationships as depicted in instructions
"""
db.Tree1.insert_one({'_id':"MongoDB",'parent':"Databases"})
db.Tree1.insert_one({'_id':"dbm", 'parent':"Databases"})
db.Tree1.insert_one({'_id':"Databases", 'parent':"Programming"})
db.Tree1.insert_one({'_id':"Languages", 'parent':"Programming"})
db.Tree1.insert_one({'_id':"Programming", 'parent':"Books"})
db.Tree1.insert_one({'_id':"Books"})

In [25]:
"""
1) Write a query to report the ancestors of "MongoDB", returning 
as output an array
"""
# initate results array to hold results
results=[]

# get the MongoDB ndoe
curr=db.Tree1.find_one({'_id':"MongoDB"})

# set starting level
level = 1

# walk the tree
while len(curr) > 1 :
    results.append({"Name":curr['parent'], "Level": level})
    curr = db.Tree1.find_one({'_id':curr['parent']})
    level += 1
    
print("Ancestors of MongoDB:")
print(results)

Ancestors of MongoDB:
[{'Name': 'Databases', 'Level': 1}, {'Name': 'Programming', 'Level': 2}, {'Name': 'Books', 'Level': 3}]

In [26]:
"""
2) Given only the root node, i.e., _id = “Books”, write a 
query that reports the height of the tree. It the above 
case, this would return 4.
"""

# general function for giving height of a tree given a root
def get_height(root, height):
    children = db.Tree1.find({'parent':root})
    maxH = height
    for child in children:
        maxH = max(get_height(child['_id'],height+1), maxH)
    return maxH

print("Height of tree (should produce 4):")
print(get_height("Books",1))

Height of tree (should produce 4):
4

## Children_referencing model

In [27]:
#Create the model
db.Tree2.insert_one({'_id':"MongoDB", 'children':[]})
db.Tree2.insert_one({'_id':"dbm", 'children':[]})
db.Tree2.insert_one({'_id':"Databases", 'children':["MongoDB","dbm"]})
db.Tree2.insert_one({'_id':"Languages", 'children':[]})
db.Tree2.insert_one({'_id':"Programming", 'children':["Databases","Languages"]})
db.Tree2.insert_one({'_id':"Books", 'children':["Programming"]})

In [28]:
"""
1) Write a query to report the parent of "MongoDB"
"""
print("Parent of MongoDB:")
print(db.Tree2.find_one({'children':'MongoDB'}))

Parent of MongoDB:
{'_id': 'Databases', 'children': ['MongoDB', 'dbm']}

In [29]:
"""
2) Write  a  query  to  report  the descendants of “Programming”. 
The output should be an array containing values 
[“Languages”, “Databases”, “MongoDB”, “dbm”]
"""
# intitiate results array to hold results
result = []

# function to get decendants given root
def get_des(root, result):
    children = db.Tree2.find_one({'_id':root})['children']
    for child in children:
        result.append(child)
        get_des(child,result)
get_des("Programming", result)

print("Descendants of Programming:")
print(result)

Descendants of Programming:
['Databases', 'MongoDB', 'dbm', 'Languages']

In [30]:
"""
Write a query to report the siblings of  “Databases”. 
"""
# function to get siblings
def get_sib(curr): 
    children = db.Tree2.find_one({'children':curr})['children']
    children.remove(curr)
    return children
print("Siblings of Databases:")
print(get_sib("Databases"))

Siblings of Databases:
['Languages']